<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar produtos</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de produtos</h1>
        <form  th:action="@{/cadastro}" method="post" th:object="${produto}">
            <label for="nome">Nome:</label>
            <input type="text" id ="nome" placeholder="Digite o nome" th:field="*{nome}" required>
            
            <label for="preco">Preço:</label>
            <input type="text" id="preco" placeholder="Digite o valor" th:field="*{valor}" required>
            
            <button type="submit">Cadastrar</button>
        </form>
        <a th:href="@{/}">Voltar a lista</a>
    </div>
</body>
</html>