<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de produtos</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="produto : ${todosProdutos}">
                    <td th:text="${produto.id}">ID do Produto</td>
                    <td th:text="${produto.nome}">Nome dele</td>
                    <td th:text="${produto.valor}">e o Preço</td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/cadastro}">Cadastrar novo Produo</a>
    </div>
</body>
</html>